.cyano{
    background-color: #5FB4A2;
}

.dark-blue{
    background-color: #203A4C;
}

.grayish{
    background-color: #33323D;
}
.text-cyano{
    color: #5FB4A2;
}

.text-dark-blue{
    color: #203A4C;
}

.text-grayish{
    color: #33323D;
}