.contact{
    padding: 48px 0;
    width: 100%;
    display: flex;
    border-top: 1px solid #33323d40;
    border-bottom: 1px solid #33323d40;
}

.text-contact{
    width: 50%;
}

.description-contact{
    width: 50%;
}

.body1{
    margin-bottom: 54px;
}

.form{
    margin-top: 47px;
    display: flex;
}

h2{
    width: 50%;
}

.form-contact{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
}

input{
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.1;
}

textarea{
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.1;
}