header{
    margin-bottom: 94px;
}

section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 500px;
    margin-bottom: 80px;
}

.portifolio-img{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portifolio-img img{
    width: fit-content;
    height: 100%;
}

section .text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 1px solid #33323d40;
    border-bottom: 1px solid #33323d40;
    width: 30%;
    height: 100%;
}

.invertido{
    flex-direction: row-reverse;
}